@page
@model PrivacyModel
@{
    ViewData["Title"] = "Informacje";
}

<div class="text-center">
    <h1>Aplikacja demonstracyjna Sim Web</h1>

    <p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>

    <p>Mapa typu torus.</p>

    <p>Sekwencja ruchów: <b>dlrludluddlrulr</b></p> <div style="margin-top: 40px;">
        <img src="~/images/orc-big.png" alt="Big Orc" style="max-width: 400px; height: auto;" />
    </div>
</div>