body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f3fe;
    margin: 0;
}

header {
    background-color: #221c4e;
    color: #ebe7b1;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 1.5rem;
}

h3 {
    color: #221c4e;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0 0;
    box-sizing: border-box;
    gap: 30px;
}

.navbar b {
    font-size: 2rem;
}

.navbar nav a {
    color: aquamarine;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar nav a.active {
    color: #ffffff;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 8px;
}

.btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #efefef;
    border: 1px solid #767676;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    min-width: 50px;
}

.simulation-wrapper {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
}

.y-axis {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-top: 1px;
}

.y-axis-label {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.9rem;
    color: #333;
}

.btn:hover {
    background-color: #d0d0d0;
}

.map-column {
    display: flex;
    flex-direction: column;
}

.map-container {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(6, 80px);
    border-top: 1px dashed black;
    border-left: 1px dashed black;
}

.map-cell {
    width: 80px;
    height: 80px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-right: 1px dashed black;
    border-bottom: 1px dashed black;
    box-sizing: border-box;
}

.map-cell img {
    max-width: 80px;
    max-height: 80px;
}

.x-axis {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    margin-top: 5px;
}

.x-axis-label {
    text-align: center;
    font-size: 0.9rem;
    color: black;
}

.info-box {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #7c1b0d;
    font-weight: bold;
}
